<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/Lobby/bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1},{357,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,50}</string>
			</dict>
			<key>res/Lobby/bg_checkbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Lobby/bg_hotline.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,360},{217,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,53}</string>
			</dict>
			<key>res/Lobby/bg_tendangnhap.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,105},{201,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,44}</string>
			</dict>
			<key>res/Lobby/btn_android.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,512},{156,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>
			<key>res/Lobby/btn_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,954},{117,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,57}</string>
			</dict>
			<key>res/Lobby/btn_event.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,702},{116,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,57}</string>
			</dict>
			<key>res/Lobby/btn_ios.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,705},{156,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>
			<key>res/Lobby/btn_quydinh.png</key>
			<dict>
				<key>frame</key>
				<string>{{930,609},{94,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,87}</string>
			</dict>
			<key>res/Lobby/btn_send_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,308},{57,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{57,34}</string>
			</dict>
			<key>res/Lobby/btn_windowfone.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,579},{156,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{156,50}</string>
			</dict>
			<key>res/Lobby/btnBack.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,909},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/Lobby/btnClose.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,968},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/Lobby/btnClose_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,770},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>res/Lobby/btnCreatNickname.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{365,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{365,58}</string>
			</dict>
			<key>res/Lobby/btnDangKy.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,105},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnDangKy_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,273},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnDangNhap.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,344},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnDangNhap_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,441},{166,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,53}</string>
			</dict>
			<key>res/Lobby/btnFacebook.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,643},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/Lobby/btnFanpage.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,631},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/Lobby/btnForgetPass.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,643},{51,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{51,53}</string>
			</dict>
			<key>res/Lobby/btngift.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,863},{86,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,89}</string>
			</dict>
			<key>res/Lobby/btnGoogle.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,697},{52,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>res/Lobby/btnline.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,631},{97,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,69}</string>
			</dict>
			<key>res/Lobby/btnRefresh.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,579},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>res/Lobby/btnvqmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,820},{76,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,87}</string>
			</dict>
			<key>res/Lobby/closetf.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,273},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>res/Lobby/cupTour.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{402,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{402,189}</string>
			</dict>
			<key>res/Lobby/icon_hu_sanh.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,1},{110,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,102}</string>
			</dict>
			<key>res/Lobby/lineTour.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,697},{70,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,71}</string>
			</dict>
			<key>res/Lobby/muiten_xuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,105},{37,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,47}</string>
			</dict>
			<key>res/Lobby/nodecheckbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,27},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>res/Lobby/titile.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1},{366,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{366,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlistLobby.png</string>
			<key>realTextureFileName</key>
			<string>PlistLobby.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>